.blueSection {
  height: 850px;
  /* background-color: #1994f2; */
  background-color: #1997f7;
}

.purpleSection {
  height: 800px;
  /* background-color: #5a0aec; */
  background-color: #7e6ff3;
}

body {
  background-image: url("../img/siteBackground.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

#topButtons {
  text-align: right;
}

.AboutMe {
  text-align: center;
  color: white;
}

.projectBackground {
  text-align: center;
  background-color: #bfafb2;
}

#contactMe {
  text-align: center;
}

.projectDescription {
  font-size: 22px;
  text-align: left;
}

.buttonLink {
  font-size: 19px;
  color: white;
  background-color: #9f7be1;
}

.carousel-indicators {
  background-color: black;
}

#vishnuDawah {
  font-size: 60px;
}

#projects {
  font-size: 53px;
  color: white;
}

.whiteText {
  color: white;
}
