.titleLine {
  width: 20%;
  padding: 44px;
}

.contactDisplay {
  display: block;
  text-align: center;
}

.projectCards {
  background-color: red;
  height: 30%;
  width: 30%;
  margin-left: 3%;
  margin-bottom: 1%;
}

.content,
.container {
  height: 100%;
  width: 100%;
}

#pageTopRow,
#pageTopClass,
.hundredHeight {
  height: 100%;
}

.pageSize {
  height: 25%;
}

.cards {
  height: 50%;
}

.blueSection {
  height: 100%;
  /* background-color: #1994f2; */
  background-color: #1997f7;
  width: calc(100%);
}

.purpleSection {
  height: 100%;

  /* background-color: #5a0aec; */
  background-color: #7e6ff3;
}

.titleText {
  font-size: 22px;
  text-align: center;
}

.newHtml,
.newBody {
  background-image: url("../img/siteBackground.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  /* background-color: red; */
  height: 4000px;
}

/* DO NOT DELETE UNTIL test2.html is ready */

.AboutMe,
.text-center {
  text-align: center;
  color: white;
}

.projectDescription {
  color: white;
  font-size: 22px;
}

.oldSiteBody {
  background-image: url("../img/siteBackground.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.buttonLink {
  background-color: dodgerblue;
  color: white;
}

#contactMe {
  text-align: center;
}

.whiteText {
  color: white;
}

.redText {
  color: red;
}
